body{ 
    margin: 0; 
    padding: 0; 
    background-image: url(/frontend/images/login.jpeg); 
    background-size: cover; 
} 
.container{ 
    width: 30%;
    top: 50%; 
    left: 50%; 
    position: absolute; 
    transform: translate(-50%,-50%); 
} 
.card{ 
    padding: 50px 30px 50px 30px; 
    background:wheat ; 
    border-radius: 10px; 
} 